extends layout

block content
  p#intro-text.intro-text Bienvenue sur notre gestionnaire #{title}
  p#instructions.instructions Vous pouvez gérer vos tâches et en ajouter selon vos besoins.
  img#logo(src="/images/taskmanagerlogo.jpeg", alt="To do list")

